In [1]:
!muselsl list

Starting BlueMuse, see BlueMuse window for interactive list of devices.

In [7]:
!muselsl stream

Starting BlueMuse, see BlueMuse window for interactive list of devices.

### Recording current stream

In [6]:
from muselsl import record

if __name__ == "__main__":

    # Note: an existing Muse LSL stream is required
    record(10)

    # Note: Recording is synchronous, so code here will not execute until the stream has been closed
    print('Recording has ended')

Looking for a EEG stream...
Started acquiring data.
Looking for a Markers stream...
Start recording at time t=1652668542.315
Time correction:  1.4299999747890979e-05
Time correction:  8.999999408842996e-06
Done - wrote file: C:\Users\piewi\OneDrive\Documents\EEG_Experiments\EEG_recording_2022-05-16-02.35.41.csv
Recording has ended

In [9]:
#importing libraries
import pandas as pd
import glob
from datetime import datetime

In [30]:
path = r'C:/Users/piewi/OneDrive/Documents/EEG_Experiments'               
all_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_file = (pd.read_csv(f) for f in all_files)
mydf   = pd.concat(df_from_each_file, ignore_index=True)
mydf.head()

,timestamps,TP9,AF7,AF8,TP10,Right AUX,Secondary Timestamp
0,1.652668e+09,3.418,214.844,-64.941,-6.836,-34.668,26516.427
1,1.652668e+09,-108.398,-483.398,-49.805,-69.336,50.781,26516.431
2,1.652668e+09,-94.727,-590.820,-71.777,-48.340,6.348,26516.435
3,1.652668e+09,11.230,187.012,-62.988,17.578,-116.211,26516.439
4,1.652668e+09,12.695,338.379,-51.270,7.812,-84.961,26516.443

In [37]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19295 entries, 0 to 19294
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamps           19295 non-null  float64
 1   TP9                  19295 non-null  float64
 2   AF7                  19295 non-null  float64
 3   AF8                  19295 non-null  float64
 4   TP10                 19295 non-null  float64
 5   Right AUX            19295 non-null  float64
 6   Secondary Timestamp  19295 non-null  float64
dtypes: float64(7)
memory usage: 1.0 MB

In [38]:
from datetime import datetime

# Getting the current date and time
dt = datetime.now()

# getting the timestamp
ts = datetime.timestamp(dt)

print("Date and time is:", dt)
print("Timestamp is:", ts)

Date and time is: 2022-05-15 23:00:03.000964
Timestamp is: 1652670003.000964

In [43]:
#datetime.fromtimestamp(mydf['timestamps'], tz=None)
mydf['timestamps'] = mydf['timestamps'].apply(lambda d: datetime.fromtimestamp(d))
mydf['Secondary Timestamp'] = mydf['Secondary Timestamp'].apply(lambda d: datetime.fromtimestamp(d))

In [45]:
mydf.head()

,timestamps,TP9,AF7,AF8,TP10,Right AUX,Secondary Timestamp
0,2022-05-15 22:32:35.521,3.418,214.844,-64.941,-6.836,-34.668,1970-01-01 02:21:56.427
1,2022-05-15 22:32:35.525,-108.398,-483.398,-49.805,-69.336,50.781,1970-01-01 02:21:56.431
2,2022-05-15 22:32:35.529,-94.727,-590.820,-71.777,-48.340,6.348,1970-01-01 02:21:56.435
3,2022-05-15 22:32:35.533,11.230,187.012,-62.988,17.578,-116.211,1970-01-01 02:21:56.439
4,2022-05-15 22:32:35.537,12.695,338.379,-51.270,7.812,-84.961,1970-01-01 02:21:56.443

### Running an experiment

In [4]:
# Imports
import os
from eegnb import generate_save_fn
from eegnb.devices.eeg import EEG
from eegnb.experiments.visual_n170 import n170
from eegnb.analysis.utils import load_data

# Define some variables
board_name = 'muse2'
# board_name = 'cyton'

experiment = 'visual_n170'
session = 1
subject = 1 # 
record_duration=60
session = 1

# Initiate EEG device
eeg_device = EEG(device=board_name)

# Create output filename
new_dir = "C:/Users/piewi/OneDrive/Documents/Muse/experiments"
save_fn = generate_save_fn(board_name, experiment, subject, session, new_dir)

# Run experiment
n170.present(duration=record_duration, eeg=eeg_device, save_fn=save_fn)

38.0308 	WARNING 	User requested fullscreen with size [1600  900], but screen is actually [1440, 900]. Using actual size
39.0907 	WARNING 	User requested fullscreen with size [1600  900], but screen is actually [1440, 900]. Using actual size
starting background recording process
will save to file: C:\Users\piewi\.eegnb\data\visual_n170\local\muse2\subject0001\session001\recording_2022-05-16-02.27.33.csv